.container-principal{
    display: flex;
    background-image: url("assets/Vector.png");
    background-repeat: no-repeat;
}

.container-left{
    padding-left: 120px;
    padding-top: 60px;
}

.container-section-2{
    width: 894px;
    height: 352px;
    margin-top: 60px;
}

.card-settings{
    width: 282px !important;
    height: 166px !important;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    padding-top: 4px;
}

.title-cards{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FA6400;
    margin-bottom: 0rem !important;
}

.main-title-left{
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    border-bottom: 5px solid #FA6400;
    width: 165px;
    padding-bottom: 4px;
    margin-bottom: 40px;
}

.margin-card-center{
    margin: 0 24px;
}

.margin-card-lef{
    margin-left: 14px;
}

.button-settings{
    width: 75px;
    background-color: #02406E;
    border: 1px solid #02406E;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px #666666;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    float: right;
}

.text-card-size-settings{
    font-size: 12px;
}

.card-settings-border-yellow{
    border: 2px solid #FFA100 !important;
}

.margin-section-2-config{
    padding-top: 10px;
}

.title-next-launch{
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    width: 270px;
    color: #404040;
    height: 34px;
    padding-top: 6px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 3px solid #404040;
}

.margin-card-left-2{
    margin-left: 5px;
}

.container-title-cards{
    display: flex;
    justify-content: space-between;
}

.button-more{
    width: 92px;
}

.card-text-height {
    height: 86px;
}

.cards-up-align{
    margin-left: -4px !important;
}

.card-title{
    display: flex;
}

.main-title-section-2{
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    color: #1F1F1F;
    margin-bottom: 16px;
}

.text-section-2{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: #404040;
    text-align: justify;
    margin-right: 32px;
}

.text-orange{
    color: #FA6400;
    font-weight: 700;
    display: contents; 
}

.nav-tab{
    height: 40px;
    width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: space-between;
}

.nav-group-1{
    display: flex;
    color: #AFAFAF;
    width: 191px;
    justify-content: space-between;
    margin-top: 8px;
}

.nav-group-2{
    display: flex;
    width: 110px;
    margin-right: 20px;
    margin-top: 8px;
    justify-content: space-around;
}

.item-nav-one{
    width: 73px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

.item-nav-one:hover{
    color: #FFFFFF;
    border-bottom: 4px solid #FA6400;
}

.item-nav-two{
    width: 118px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

.item-nav-two:hover{
    color: #FFFFFF;
    border-bottom: 4px solid #FA6400;
}